*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

body{
    background-color: #91DDCF;
}

.container-holder{
    width: 45%;
    margin: auto;
    height: fit-content;
    margin-top: 20vh;
    background-color: white;
    padding: 2vh 2vh;
    border-radius: 5px;
}

.main-title{
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0.3vw;
}

.row{
    margin-top: 1vw;
}

input[type=text]{
    margin: 0.3vw;
    width: 80%;
    padding: 1vw 1vw;
    border: none;
    outline: none;
    border-radius: 50px;
    background: rgb(203, 203, 203);
}

button{
    padding: 1vw 1vw;
    border-radius: 40px;
    border: none;
    width: 16%;
    color: white;
    font-weight: bold;
    background-color: orangered;
}