*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

body{
    background-color: #91DDCF;
}

.container-holder{
    width: 45%;
    margin: auto;
    height: fit-content;
    margin-top: 20vh;
    background-color: white;
    padding: 2vh 2vh;
    border-radius: 5px;
}

.main-title{
    font-size: 1.5vw;
    font-weight: bold;
}